@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* container */

.container {
  width: min(100%, 1440px);
  margin: auto;
}
/* header */
header {
  display: flex;
  padding: 18px 94px;
  justify-content: space-between;
  background-color: #311500;
  align-items: center;
}
/* burger icon */
.header_burger_icon {
  display: none;
}

/* nav section */
.header_nav_section {
  display: flex;
  text-align: center;
}

.header_ul {
  display: flex;
  column-gap: 36px;
}

.header_li_a {
  color: #dee2eb;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.header_active_li_a {
  color: #c46a2b;
}

/* header buttn */
.header_button {
  padding: 12px 18px 12px 19px;
  border-radius: 32px;
  background-color: #c46a2b;
  color: #dee2eb;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 24px;
}

.section1 {
  display: flex;
  height: 640px;
  background-image: url("../images/section_1_img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  padding-top: 120px;
  padding-bottom: 464px;
  text-align: center;
  /* justify-content: center; */
}

.section_1_heading_a {
  font-family: "Inter", sans-serif;

  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0.10000000149011612px;
  color: #ffffff;
}

/* .section_1_arrow_img {
  width: 56px;
  height: 56px;
} */

.section_2 {
  padding: 94px;
  background-color: #dee2eb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 56px;
}

.section_2_heading {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
}

.section_2_card_section {
  display: flex;
  column-gap: 20px;
}

.section_2card_section_artcle {
  background-color: #311500;
  padding: 8px 8px 16px 8px;
}

.article_img {
  height: 180px;
  object-fit: cover;
}

.section_2_card_section_article_heading {
  color: #c46a2b;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  margin-top: 16px;
  margin-bottom: 14px;
}

.section_2_card_section_article {
  display: flex;
  justify-content: space-between;
}

.section_2_article_price {
  color: #dee2eb;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.section_2_article_btn {
  padding: 6px 6px 5px 5px;
  background-color: #c46a2b;
  border: 1px solid #dee2eb;
  border-radius: 8px;
}

/* footer */

footer {
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
  background-color: #311500;
}

.footer_section{
    margin-bottom: 94px;
}

.footer_section_heading {
    margin-top: 94px;
  color: #c46a2b;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  
}

.footer_nav {

  margin-top: 16px;
}

.footer_nav_ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
}

.footer_nav_li_a {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;

}
